header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100vw;
}

header h1 {
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
}

.hamburgerMenuButton {
  background-image: url('../../src/assets/hamburger.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
  background-position: center;
}

.hamburgerMenuButtonClicked {
  background-image: url('../assets/close.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
  background-position: center;
}

.slideInMenu {
  display: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background-color: pink;
  padding: 40px;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  z-index: 10;
  opacity: 0;
}

.slideInMenuActive {
  transform: translateX(0);
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: pink;
  opacity: 1;
}

@media screen and (min-width: 480px) {
  
}

